*{
    padding: 0;
    margin: 0;
}
.red-header{
    background-color: rgba(0, 0, 255, 0.301);
    background-image: url('./image/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.nav-logo{
    font-size: 45px;
    font-family: 'Rubik Glitch', system-ui;
    /* font-family: 'Rubik Lines', system-ui; */
}

.f-letter{
    font-family: 'Bungee Spice', sans-serif;
}
nav ul{
    display: flex;
}

nav  li{
    list-style: none;
    margin: 0 20px;
}
nav li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.home-article{
    padding: 20px 20px 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 600px;
}

.download-button{
    background-color: #FD6E0A;
    border: 0;
    padding: 15px 20px;
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.head-section-text{
    font-size: 45px;
}
.head-title{
    font-size: 80px;
}
.heat-subtitle{
    font-size: larger;
    padding-top: 10px;
}
.profile-pic{
    width: 600px;
}


/* main section desig */

main{
    max-width: 1140px;
    margin: 0 auto;

}
/* about setion design */

.about-me{
    padding: 100PX 130PX;
    background-color: #fd6f0a42;
    margin: 130px 0;
    border-radius: 10px;
    font-size: 20px;
}

.about-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.about-discrioption{
    text-align: center;
    font-size: 18px;
    padding: 15px;
}

.aboutInfo-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.aritcle-contrainer{
    text-align: center;
}

#about-discrioption-id{
    padding: 30px 120px;
}

.skills-contrainer{
    display: flex;
    gap: 24px;
    padding: 0 0 100px 0;

}
.skills{
    padding: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    font-size: 20px;
}

.headinng-padding{
    padding: 20px 0;
}