*{
    padding: 0;
    margin: 0;
}
.red-header{
    background-color: rgba(0, 0, 255, 0.301);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.nav-logo{
    font-size: 45px;
    font-family: 'Rubik Glitch', system-ui;
    /* font-family: 'Rubik Lines', system-ui; */
}

.f-letter{
    font-family: 'Bungee Spice', sans-serif;
}
nav ul{
    display: flex;
}

nav  li{
    list-style: none;
    margin: 0 20px;
}
nav li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.home-article{
    padding: 20px 20px 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.download-button{
    background-color: #FD6E0A;
    border: 0;
    padding: 15px 20px;
    margin-top: 15px;
    border-radius: 5px;
}
.profile-pic{
    width: 500px;
}